/**-----------------------------------------------
Typography
-----------------------------------------------*/
.stylized-heading {
  display: inline-block;
  text-transform: uppercase;
  font-size: 40px;
  border-bottom: 1px solid #df5a56;
  margin: 40px 0;
}
.text-center {
  text-align: center;
}

/**-----------------------------------------------
Article
-----------------------------------------------*/
article {
  line-height: 1.6;
  font-size: 1.2rem;
}
article dl {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
article dl dt {
  font-weight: bold;
}
article blockquote {
  border-left: 4px solid #cccccc;
  padding-left: 20px;
  margin-left: 0;
}
article blockquote cite {
  display: block;
  font-size: 0.8rem;
  font-style: normal;
  margin-top: 10px;
}
article blockquote cite:before {
  content: "— ";
}
/**-----------------------------------------------
Card
-----------------------------------------------*/

.card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8);
}

.card .card-body {
  padding: 20px;
}

.card img {
  transition: all 0.3s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
}

/**-----------------------------------------------
Card with img caption
-----------------------------------------------*/

.img-hover {
  position: relative;
}

.img-caption .img-hover::after {
  content: "Buy Now";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 53px;
  transition: all 0.3s ease-in-out;
}

.img-caption:hover .img-hover::after {
  opacity: 1;
}

.img-caption:hover {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8);
}

.img-caption .img-caption-body {
  padding: 20px;
}

.img-caption img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.img-caption:hover img {
  transform: scale(1.05);
}


/**-----------------------------------------------
Accordion
-----------------------------------------------*/
.handorgel {
  margin: 40px 0;
}